*{
	margin: 0;
	padding: 0;
}
html{
	font-family: sans-serif;
}
body{
	background-color: red;
}
.header__main{
	background-color: #FF002F;
	text-align: center;
	padding: 2em;
}
	.header__title{
		font-size: 1.7em;
		text-transform: uppercase;
		color: white;
		text-decoration: none;
	}
	.header__description{
		font-size: 1.4em;
		color: white;
	}
.box-articles-father{

}
	.box--article{
		margin: 1em;
		background-color: #D4D4D4;
		padding: 15px;
	}
	.box--article__img-box{

	}
	.box--article__img{
		max-width: 100%;
	}
	.box--article__title{
		font-size: 1.6em;
		text-transform: uppercase;
		color: #252525;
	}
	.box--article__content{
		text-align: justify;
		color: #333333;
	}
.footer__main{
	background-color: #1D1D1D;
	text-align: center;
	padding: 1.5em;
	font-size: 1.2em;
}
	.footer__content{
		color: white;
	}
	.footer__content:after{
		content: " -";
	}
	.footer__content:before{
		content: "- ";
	}